.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: darkblue;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}


/*PSEUDOCLASES*/

.main-nav__item a:hover {
    color: sandybrown;
}

.main-nav__item a:active {
    color: red;
}


/*PSEUDOELEMENTOS*/

.main-nav__item a::after {
    content: " | ";
}